<!DOCTYPE html>
<html>
  <head>
    <title>WebScrapping</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-flouid">
      <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <a class="navbar-brand centered" href="/">
            <h3>Web Scrapping</h3>
          </a>
        </div>
      </nav>
    </div>
    <div class="container">
      <div class="col-8">
        <%= yield %>
      </div>
      
    </dev>
  </body>
</html>
